*,
*:before, 
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/* background-color: #004f8c;
	background-image: url("texture.png"); */
	background-image: url(background.jpg);
	background-attachment: fixed;
	background-size: cover;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	padding: 14% 0;
}

.over {
	padding: 7% 0;
	font-size: 2em;
	color: white;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.keyboard {
	position:absolute;
	left:50%;
	top:50%;
	width: 65%;
	height: 400px;
	margin-left: -32.5%; /* -1/2 width */
	margin-top: -200px; /* -1/2 height */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
	border-radius: 10px;
	padding-top: 1%;
	border: 20px solid black;
	border-top: none;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.keys {
	font-family: 'Heebo', sans-serif;
	position: relative;
	width: 70px;
	height: 70px;
	border-radius: 10px;
	margin: 5px;
	background-color: #000000;
	border: 2px solid black;
	font-size: 1.5em;
	color: #ffffff;
}

.keys-top {
	margin-right: 40px;
	text-align: left;
	font-size: 0.7em;
}

button:focus {
	outline: 0;
}

.number-row button:first-of-type {
	width: 50px;
}

.number-row button:last-of-type {
	width: 140px;
}

.alphabet-row-1 button:first-of-type {
	width: 105px;
	text-align: left;
	padding-left: 10px;
}

.alphabet-row-1 button:last-of-type {
	width: 85px;
}

.alphabet-row-2 button:first-of-type {
	width: 120px;
	text-align: left;
	padding-left: 10px;
}

.alphabet-row-2 button:last-of-type {
	width: 150px;
	text-align: right;
	padding-right: 10px;
}

.alphabet-row-3 button:first-of-type {
	width: 175px;
	text-align: left;
	padding-left: 10px;
}

.alphabet-row-3 button:last-of-type {
	width: 175px;
	text-align: right;
	padding-right: 10px;
}