*:focus {
    outline: none;
}

body {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow: hidden;
    font-family: sans-serif;
}

/* Keyboard styles start */

.keyboard {
    width: max-content;
    height: max-content;
    background: linear-gradient(to top, #45484d 0%,#101010 100%);
    border-radius: 10px;
    padding: 20px;
    border: 4px solid white;
}

.row-1, .row-2, .row-3, .row-4, .row-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.key {
    width: 60px;
    height: 60px;
    background: #45484d;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    border: 2px solid;
}

.key span {
    padding-right: 25px;
    font-size: 0.9em;
}

.row-1 .key:first-of-type {
    width: 50px;
}

.row-1 .key:last-of-type {
    width: 130px;
}

.row-2 .key:first-of-type {
    text-align: left;
    width: 90px;
}

.row-2 .key:last-of-type {
    width: 90px;
}

.row-3 .key:first-of-type {
    text-align: left;
    width: 100px;
}

.row-3 .key:last-of-type {
    text-align: right;
    width: 150px;
}

.row-4 .key:first-of-type {
    text-align: left;
    width: 135px;
}

.row-4 .key:last-of-type {
    text-align: right;
    width: 185px;
}

.row-5 .key {
    width: 80px;
}

.row-5 .key:nth-child(4) {
    width: 400px;
}

/* Keyboard styles end */

svg {
    fill: #fff;
    height: 30px;
    width: 30px;
}

.text {
    color: #fff;
    font-size: 2em;
    margin: 50px;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
}

.btn svg {
    height: 50px;
    width: 50px;
}

.overlay-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    cursor: pointer;
    z-index: 2;
}

.rules {
    position: relative;
    width: 50vw;
    height: max-content;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: #45484d;
    z-index: 3;
}

.close-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2em;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
}

.list {
    list-style-type: none;
}

.item {
    color: #fff;
    font-size: 1.5em;
}